@import "reset";
@import "modules/show";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/Header";

*{
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  width: 100vw;
}